<!--service-->
<section id="service" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h2 class="ser-title">Our Service</h2>
                <hr class="botm-line">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris cillum.</p>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="service-info">
                    <div class="icon">
                        <i class="fa fa-stethoscope"></i>
                    </div>
                    <div class="icon-info">
                        <h4>24 Hour Support</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="service-info">
                    <div class="icon">
                        <i class="fa fa-ambulance"></i>
                    </div>
                    <div class="icon-info">
                        <h4>Emergency Services</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="service-info">
                    <div class="icon">
                        <i class="fa fa-user-md"></i>
                    </div>
                    <div class="icon-info">
                        <h4>Medical Counseling</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="service-info">
                    <div class="icon">
                        <i class="fa fa-medkit"></i>
                    </div>
                    <div class="icon-info">
                        <h4>Premium Healthcare</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ service-->

<!--cta-->
<section id="cta-1" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="schedule-tab">
                <div class="col-md-4 col-sm-4 bor-left">
                    <div class="mt-boxy-color"></div>
                    <div class="medi-info">
                        <h3>Emergency Case</h3>
                        <p>I am text block. Edit this text from Appearance / Customize / Homepage header columns. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                        <a href="#" class="medi-info-btn">READ MORE</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="medi-info">
                        <h3>Emergency Case</h3>
                        <p>I am text block. Edit this text from Appearance / Customize / Homepage header columns. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                        <a href="#" class="medi-info-btn">READ MORE</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 mt-boxy-3">
                    <div class="mt-boxy-color"></div>
                    <div class="time-info">
                        <h3>Opening Hours</h3>
                        <table style="margin: 8px 0px 0px;" border="1">
                            <tbody>
                                <tr>
                                    <td>Monday - Friday</td>
                                    <td>8.00 - 17.00</td>
                                </tr>
                                <tr>
                                    <td>Saturday</td>
                                    <td>9.30 - 17.30</td>
                                </tr>
                                <tr>
                                    <td>Sunday</td>
                                    <td>9.30 - 15.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--cta-->

<!--cta 2-->
<section id="cta-2" class="section-padding">
    <div class="container">
        <div class=" row">
            <div class="col-md-2"></div>
            <div class="text-right-md col-md-4 col-sm-4">
                <h2 class="section-title white lg-line">« A few words<br> about us »</h2>
            </div>
            <div class="col-md-4 col-sm-5">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a typek
                <p class="text-right text-primary"><i>— Medilap Healthcare</i></p>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>
<!--cta-->