<div class="swiper-container swiper-slider swiper-secondary" data-autoplay="3500" data-height="100vh" data-min-height="300px">
    <div class="swiper-wrapper text-center">
        <div class="swiper-slide" data-slide-bg="images/home-03-slide-01.jpg">
            <div class="swiper-slide-caption">
                <div class="container">
                    <div class="row section-100-vh align-items-sm-center justify-content-sm-center">
                        <div class="col-xxl-8 col-md-9" data-caption-animate="fadeInDown" data-caption-delay="200">
                            <h1 class="text-white">Karen Iglesias</h1>
                            <p class="h6 offset-top-30">Terapeuta natural, Instructora de Yoga.</p>
                            <div class="group"><a class="btn btn-primary btn-form" href="#">Sus terapias</a><a class="btn btn-dark btn-form" href="#">Ir</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide" data-slide-bg="images/home-02-slide-01.jpg">
            <div class="swiper-slide-caption">
                <div class="container">
                    <div class="row section-100-vh align-items-sm-center justify-content-sm-center">
                        <div class="col-xxl-8 col-md-9" data-caption-animate="fadeInDown" data-caption-delay="200">
                            <h1 class="text-white">Professional Customer Service</h1>
                            <p class="h6 offset-top-30">Our qualified team strives for ensuring your satisfaction, while offering the highest levels of professional service at affordable and competitive rates.</p>
                            <div class="group"><a class="btn btn-primary btn-form" href="#">Our services</a><a class="btn btn-dark btn-form" href="#">Get in touch</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide" data-slide-bg="images/home-01-slide-01.jpg">
            <div class="swiper-slide-caption">
                <div class="container">
                    <div class="row section-100-vh align-items-sm-center justify-content-sm-center">
                        <div class="col-xxl-8 col-md-9" data-caption-animate="fadeInDown" data-caption-delay="200">
                            <h1 class="text-white">Experienced Technicians</h1>
                            <p class="h6 offset-top-30">Our technicians have decades of practical, in-field experience besides factory training. This means they have the knowledge and skills needed to diagnose and repair any appliance you may have.</p>
                            <div class="group"><a class="btn btn-primary btn-form" href="#">Our services</a><a class="btn btn-dark btn-form" href="#">Get in touch</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-button-prev"><span>Prev</span></div>
    <div class="swiper-button-next"><span>Next</span></div>
    <div class="custom-way-point custom-way-point-swiper animated" data-custom-scroll-to="custom-way-point">Scroll down</div>
</div>